.width {
  width: 420px;
}
.width2 {
  width: 320px;
}
.heigth {
  height: 100px;
}
.fontsize1 {
  font-size: 16px;
}
.fontsize2 {
  font-size: 18px;
}
.fontsize3 {
  font-size: 40px;
}
.box {
  width: 30px;
  height: 30px;
  font-size: x-small;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  color: white;
  background-color: #0d6efd;
}
.box2 {
  color: black;
  border: 1px solid rgba(211, 211, 211, 0.6);
  background-color: white;
}
input,
input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 3;
}
@media only screen and (max-width: 768px) {
  .width {
    width: 300px;
  }
  .width2 {
    width: 250px;
  }
  .fontsize2 {
    font-size: 15px;
  }
  .fontsize1 {
    font-size: 12px;
  }
}
